<palette name="">
  <version>
    71 0 
  </version>
  <styles>
    <style>
      color_0 3 255 255 255 0 
    </style>
    <style>
      contur 4001 "classic/brush.myb"45 0 0 255 0 
    </style>
    <style>
      color_2 4001 "mojo_v1/Grafight.myb"40 0 0 255 0 
    </style>
    <style>
      koja 3 225 169 132 255 
    </style>
    <style>
      rubashka 3 239 214 177 255 
    </style>
    <style>
      "poloska 1"3 195 51 59 255 
    </style>
    <style>
      "poloska 2"3 121 23 26 255 
    </style>
    <style>
      jaket 3 128 42 53 255 
    </style>
    <style>
      ubka 3 177 86 72 255 
    </style>
    <style>
      volosi 3 119 44 37 255 
    </style>
    <style>
      shlyapa 3 189 82 57 255 
    </style>
    <style>
      tarelka 3 255 235 202 255 
    </style>
    <style>
      "remen 1"3 80 32 31 255 
    </style>
    <style>
      "remen 2"3 239 187 65 255 
    </style>
    </styles>
  <stylepages>
    <page>
      <name>
        "цвета"
      </name>
      <indices>
        0 1 2 3 4 5 6 7 8 9 10 11 12 13 
      </indices>
      </page>
    </stylepages>
  <shortcuts>
    9 0 1 2 3 4 5 6 7 8 
  </shortcuts>
  </palette>
